<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

<f:be.container addCssFile="{f:uri.resource(path:'Styles/Backend/Tree.css')}">


    <div class="typo3-fullDoc">
        <div id="typo3-docheader">
            <div id="typo3-docheader-row1">
                <div class="buttonsleft">

                </div>
                <div class="buttonsright">
                    <f:be.buttons.shortcut />
                </div>
            </div>
            <div id="typo3-docheader-row2">
                <div class="docheader-row2-left">
                    <f:be.buttons.csh />
                    <f:be.menus.actionMenu>
                        <f:be.menus.actionMenuItem label="Overview" controller="Backend" action="index" />
                        <f:be.menus.actionMenuItem label="Board Tree" controller="Backend" action="tree" />
                        <f:be.menus.actionMenuItem label="List Boards" controller="Board" action="list" />
                        <f:be.menus.actionMenuItem label="Recount Board Threads" controller="Backend" action="countThreads" />
                        <f:be.menus.actionMenuItem label="Access Administration (Dummy)" controller="ForumUser" action="list" />
                    </f:be.menus.actionMenu>
                </div>
                <div class="docheader-row2-right">
                    <f:be.pagePath />
                    <f:be.pageInfo />
                </div>
            </div>

        </div>
        <div id="typo3-docbody">
            <div id="typo3-inner-docbody">
                <f:flashMessages renderMode="div" />
                <f:render section="main" />
                <f:be.pagePath /> <f:be.pageInfo />
            </div>
        </div>
    </div>
</f:be.container>